.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
/* 
$delphiblue: #9ab7de;
$delphititleBlue: #7c9fd5; //$00D59F7C */